.footerContainer {
  position: relative;
  width: 100%;
  overflow-x: hidden; 
}

.footerCircleBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  right: 0; 
  bottom: 0; 
}

.footerCircleBg::before,
.footerCircleBg::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.5; /* Match the opacity of the main content circles */
  width: 15vw; /* Use viewport width relative sizes */
  height: 15vw; /* Use viewport width relative sizes */
}

.footerCircleBg::before {
  width: 200px; /* Pink circle size */
  height: 200px; /* Pink circle size */
  background-color: #f17d2b; /* Pink circle color */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(45%, -30%); /* Adjust to move right and a bit lower */
  z-index: 1; /* Above the text */
}

.footerCircleBg::after {
  width: 300px; /* Blue circle size */
  height: 300px; /* Blue circle size */
  background-color: #17ced1; /* Blue circle color */
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(70%, -65%); /* Adjust to move further right */
  z-index: 0; /* Below the pink circle */
}






