@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InterTight';
  src: url('/src/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust based on the font's weight range */
  font-style: normal;
}

@font-face {
  font-family: 'InterTight Italic';
  src: url('/src/fonts/InterTight-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust based on the font's weight range */
  font-style: italic;
}

/* Apply InterTight as the default font for the whole app */
body, button, input, textarea {
  font-family: 'InterTight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Specify italic style */
em, i {
  font-family: 'InterTight Italic', sans-serif;
}

.pb-9.px-6 {
  position: relative;
  z-index: 1;
  /* Keep your padding and other styles */
  overflow: hidden; /* This will ensure that anything outside this div is not shown */
}

.text-black {
  position: relative;
  z-index: 2; /* Higher than .circle-bg */
}

.circle-bg {
  position: absolute;
  top: 50%; /* Adjust as necessary */
  left: 50%; /* Adjust as necessary */
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

.circle-bg::before,
.circle-bg::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}

.circle-bg::before {
  width: 200px; /* Your desired size */
  height: 200px; /* Your desired size */
  background-color: #f17d2b; /* Your desired color */
  top: 10%; /* Your desired position */
  left: 20%; /* Your desired position */
}

.circle-bg::after {
  width: 300px; /* Your desired size */
  height: 300px; /* Your desired size */
  background-color: #17ced1; /* Your desired color */
  bottom: 10%; /* Your desired position */
  right: 30%; /* Your desired position */
}